.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
}

.clients-list-item:not(:last-child) {
  margin-right: 30px;
}

.clients-list-item-link {
  @extend %flex-centre;
  width: 170px;
  height: 90px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid $accent;
  }

  &:hover .clients-icons,
  &:focus .clients-icons {
    fill: $accent;
  }
}

.clients-icons {
  fill: $social-link-color;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
