.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: $secondary-font;
  @include font(24px, 1.17, 700);
  letter-spacing: 0.03em;
  color: inherit;
  & span {
    color: $accent;
  }
}

.navigation-list-link {
  display: inline-block;
  position: relative;
  @include font(21px, 1.17, 500);
  letter-spacing: 0.02em;
  color: inherit;
  &:hover,
  &:focus {
    color: $accent;
  }
  &.studio {
    color: $accent;

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: -10px;
      width: 100%;
      height: 4px;

      background-color: $accent;
      border-radius: 2px;
    }
  }
}

.address-header-link {
  display: inline-block;
  @include font(21px, 1.17, 500);
  color: $secomdary-text-color;
}

.header-icons {
  fill: $secomdary-text-color;
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .menu-btn {
    display: flex;
    position: relative;
    border: none;
    background-color: transparent;
    padding: 0;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover .icon-open,
    &:focus .icon-open,
    &.is-open:focus .icon-close,
    &.is-open:hover .icon-close {
      fill: $accent;
    }
    &.is-open {
      .icon-close {
        display: block;
      }
      .icon-open {
        display: none;
      }
    }
  }

  .icon-close {
    display: none;
  }

  .navigation-menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    height: 393px;

    // pointer-events: none;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
    transition: scale 1500ms linear;

    opacity: 0;
    transform: scale(0);
    visibility: hidden;
    transition: 500ms linear;
    &.is-open {
      opacity: 1;
      transform: scale(1);
      visibility: visible;
      z-index: 10;
    }
  }

  .navigation-list-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .navigation-list {
    margin-bottom: 60px;
  }

  .adress-header-list-item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }

  .header-container {
    justify-content: start;
  }

  .logo {
    margin-right: 88px;
  }

  .navigation-menu {
    display: flex;
    align-items: center;
  }

  .navigation-list {
    display: flex;
    align-items: center;
    margin-right: 84px;
  }
  .navigation-list-link {
    @include font(14px, 1.14, 500);
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .navigation-list-item:not(:last-child) {
    margin-right: 48px;
  }

  .header-icons {
    vertical-align: middle;
    margin-right: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navigation-list-link.studio::after {
    bottom: 0;
  }

  .adress-header-list-item:not(:last-child) {
    margin-bottom: 10px;
  }

  .address-header-link {
    @include font(12px, 1.16, 500);
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus,
    &:hover .header-icons,
    &:focus .header-icons {
      fill: $accent;
      color: $accent;
    }
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
  }

  .navigation-list {
    margin-right: 305px;
  }
  .navigation-menu {
    align-items: baseline;
  }
  .address-header-list {
    display: flex;
  }

  .adress-header-list-item:not(:last-child) {
    margin-right: 30px;
  }

  .address-header-link {
    @include font(14px, 1.14, 500);
    letter-spacing: 0.02em;
  }

  .header-icons {
    margin-right: 10px;
  }
}
