.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #f5f4fa;
}

.team-list-item {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.team-photo-thumb {
  width: 450px;
  height: 460px;
  & .team-img {
    display: block;
    height: 100%;
    width: 100%;

    object-fit: cover;
  }
}

.team-name-block {
  display: inline-block;
  padding: 30px 122px 24px 122px;
  background-color: $text-dark-theme-color;
}

.team-name {
  margin-top: 0px;
  margin-bottom: 10px;

  @include font(16px, 1.19, 500);
  text-align: center;
}

.team-profession {
  margin-top: 0px;
  margin-bottom: 16px;
  color: $secomdary-text-color;

  @include font(16px, 1.19);
  text-align: center;
}

.team-social-link {
  @extend %flex-centre;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  fill: $social-link-color;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent;
  }
  &:hover .team-social-icons,
  &:focus .team-social-icons {
    fill: $text-dark-theme-color;
  }
}

.team-social-icons {
  @extend %social-icons;
}

.team-social-list {
  display: flex;
}

.team-social-list-item:not(:last-child) {
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .team-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  .team-list-item {
    margin: 15px;
  }

  .team-photo-thumb {
    width: 354px;
    height: 374px;
  }
  .team-name-block {
    padding: 30px 74px 24px 74px;
  }
}

@media screen and (max-width: 1199px) {
  .team-title {
    margin-bottom: 30px;
    @include font(28px, 1.18, 700);
  }
}
@media screen and (min-width: 1200px) {
  .team-photo-thumb {
    width: 270px;
    height: 260px;
  }
  .team-name-block {
    padding: 30px 32px;
  }
}
