.main-title {
  margin-top: 0px;
  margin-bottom: 50px;

  @include font(36px, 1.17, 700);
  letter-spacing: 0.03em;
  text-align: center;
}

.main-subtitle {
  margin-top: 0px;

  @include font(14px, 1.14, 700);
  text-transform: uppercase;
}
