$main-font: 'Roboto', sans-serif;
$primary-text-color: #212121;
$secomdary-text-color: #757575;
$accent: #2196f3;
$text-dark-theme-color: #fff;
$secondary-background-color: #f5f4fa;
$social-link-color: #afb1b8;
$footer-background-color: #2f303a;
